<a href="https://colab.research.google.com/github/franklinperseuDS/Ocean_Backend_Cloud_29_10_2020/blob/main/exerciciosOcean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

  
﻿"""
Exercício 13
Nome: Convertendo Celsius/Farenheit
Objetivo: Escrever duas funções de conversão, uma de graus celsius em farenheit e a outra que faça o contrário.
Dificuldade: Principiante
1 - Crie um aplicativo de conversão entre as temperaturas Celsius e Farenheit.
2 - Primeiro o usuário deve escolher se vai entrar com a temperatura em Célsius ou Farenheit, depois a conversão escolhida é realizada.
3 - Se C é a temperatura em Celsius e F em farenheit, as fórmulas de conversão são:
C = 5 * (F - 32) / 9
F = (9 * C / 5) + 32
"""
°F = °C × 1, 8 + 32    °C = (°F − 32) ÷ 1, 8

In [50]:
def CelsiusToFarenheit(temperatura):
  return (9*temperatura/5)+32

def FarenheitToCelsius(temperatura):
  return 5*(temperatura - 32)/9

In [53]:
def main():
  print("----------------Conversões-----------------------")
  escolha =  int(input("Você deseja fazer qual conversão : \n (1) - Celsius para Farenheint \n (2) - Farenheint para Celsius\n (3) - Sair \n"))
  if escolha != 3:
    temperatura = float(input("digite o valor da temperatura \n"))
    if escolha == 1:
      print(f'{temperatura} Cº = {CelsiusToFarenheit(temperatura):.2f} Fº  ')
    elif escolha == 2:
      print(f'{temperatura} Fº =  {FarenheitToCelsius(temperatura):.2f} Cº')
    else:
      print("digito inválido")
      main()
  
  elif escolha == 3:
    print("Obrigado por utilizar")

In [54]:
main()

----------------Conversões-----------------------
Você deseja fazer qual conversão :
 (1) - Celsius para Farenheint
 (2) - Farenheint para Celsius\ (3) - Sair
2
digite o valor da temperatura
100
100.0 Fº =  37.78 Cº

﻿"""
Exercício 12
Nome: Praticando Funções
Objetivo: Escrever diversas funções para reaproveitar trechos de código
Dificuldade: Intermediário
Escreva um código de modo que exiba o valor do x digitado pelo usuário e que seja
substituído nas funções.
1 - Sendo f(x) = 3x - 2 determine o valor de f(5) + f(0).
2 - Na produção de peças, uma fábrica tem um custo fixo de R$ 30,00 mais um custo variável
de R$ 2,00 por unidade produzida. Sendo x o número de peças unitárias produzidas, determine
o custo de produção de 100 peças.
3 - Crie uma função que receba 2 números e retorne o maior valor.
4 - Crie uma função que receba 3 números e retorne o maior valor, use a função da questão 3.
5 - Dadas as funções f(x) = x – 5 e g(x) = 3x + 1, crie um código que retorne o valor da
soma de f(9) + g(2). Depois crie um código que retorne o valor da soma das duas funções
com números digitados pelo usuário.
6 - Considere as seguintes funções: f(x) = x - 4 e g(x) = 5x + 1.
Qual é o valor da função composta g(f(3))? Depois crie um código que retorne o valor da
soma das duas funções com números digitados pelo usuário.
7 - Crie uma função chamada dado() que retorna, através de sorteio, um número de 1 até 6.
Exiba 10 números sorteados utilizando a mesma função criada.
Números aleatórios: random.randint(inicio, fim)
"""

In [ ]:
def Funcao1(x):
  return 3x - 2

x = input("Digite o valor de X")

In [ ]:
def Pecas(x):
  fixo = 30
  adicional = 2
  return fixo + x * adicional

In [ ]:
def Maior(num1,num2):
  if num1 > num2:
    return num1
  else:
    return num2

In [ ]:
def Maior2(num1,num2,num3)
  comparativo = maior(num1,num2)
  return maior(comparativo,num3)

In [ ]:

def Funcao2(x):
  return x -5

In [ ]:
def Funcao3(g):
  return 3*g + 1

In [ ]:
def SomaFuncoes(y,z):
  y = funcao2(y)
  z = funcao3(z)
  return y+z

In [ ]:
def RetornoSomaFuncoes():
  numero1 = float(input("Digite um valor para a primeira função\n"))
  numero2 = float(input("Digite um valor para a seunda função\n"))
  print(SomaFuncoes(numero1,numero2)

In [ ]:
def Funcao4(x):
  return x -4

In [ ]:
def Funcao5(y):
  return 5 * y + 1

In [31]:
def TesteQ6():
  resultado = funcao5(funcao4(3))

10

In [ ]:
def digitarQ6():
  funcao4 = float(input("Digite um valor para a primeira função\n"))
  funcao5 = float(input("Digite um valor para a seunda função\n"))
  return (Funcao4(funcao4) + Funcao5(funcao5))

In [ ]:
questao6 = digitarQ6()
print(questao6)

In [46]:
"""7 - Crie uma função chamada dado() que retorna, através de sorteio,
 um número de 1 até 6. Exiba 10 números sorteados utilizando a mesma
  função criada. Números aleatórios: random.randint(inicio, fim)""" 
from random import randint

def dado():
  sorteados = []
  for i in range(0,10):
    sorteados.append(randint(0,6))
  return sorteados

sorteio = dado()
print(f'tamanho {len(sorteio)}:{sorteio} ')

tamanho 10:[0, 0, 1, 6, 0, 0, 1, 5, 4, 5]

#Lista

In [62]:
lista = [10,30,5,4,8,12,15,17,20]

print(lista, type(lista))

print(lista[0], type(lista[0])) # acessando posições

print(lista[-3:])

[10, 30, 5, 4, 8, 12, 15, 17, 20] <class 'list'>
10 <class 'int'>
[15, 17, 20]

In [63]:
nome = "catdogfrog"
cat = nome[0:3]
dog = nome[3:6]
frog = nome[6:]
print(cat,dog,frog)

In [69]:
animais=['morcego','papagaio','leão','leopardo','vaca','cachorro']
print(animais)
animais.append('girafa') # adicionando ao final
print(animais)
animais.insert(1,'gato')
print(animais)
print(animais.index('girafa'))

animais.remove('leão')
print(animais)

del(animais[1])
print(animais)

animais.pop() # remove o ultimo
print(animais)
animais.pop(2) # apaga o indice 
print(animais)

['morcego', 'papagaio', 'leão', 'leopardo', 'vaca', 'cachorro']
['morcego', 'papagaio', 'leão', 'leopardo', 'vaca', 'cachorro', 'girafa']
['morcego', 'gato', 'papagaio', 'leão', 'leopardo', 'vaca', 'cachorro', 'girafa']
7
['morcego', 'gato', 'papagaio', 'leopardo', 'vaca', 'cachorro', 'girafa']
['morcego', 'papagaio', 'leopardo', 'vaca', 'cachorro', 'girafa']
['morcego', 'papagaio', 'leopardo', 'vaca', 'cachorro']
['morcego', 'papagaio', 'vaca', 'cachorro']

In [70]:
msg = animais.pop(-1)

In [71]:
msg

'cachorro'

In [72]:
animais=['morcego','papagaio','leão','leopardo','vaca','cachorro']
for animal in animais:
  print(animal)

morcego
papagaio
leão
leopardo
vaca
cachorro

In [82]:
lista = []
for i in range(0,10):
  lista.append(i*2)

for item in lista:
  if item >= 5 and item <= 10:
    print(item)

6
8
10

In [85]:
qtd_elementos = int(input("digite a quantidade de elementos desejada"))

numeros= []

for indice in range(qtd_elementos):
  numero_digitado = int(input("digite um número: "))
  numeros.append(numero_digitado)

print("a minha lista de numeros ficou: ", numeros)

digite a quantidade de elementos desejada2
digite um número: 3
digite um número: 4
a minha lista de numeros ficou:  [3, 4]

In [91]:
tupla = 5,3,4
print(type(tupla))
teste1 = (5)
print(f"com parenteses sem virgula não é uma tupla {type(teste1)}")

teste1 = (5,)
print(f"com parenteses c virgula é uma tupla {type(teste1)}")

lista_convertida = list(tupla)
print(lista_convertida, type(lista_convertida))
#desconstruindo a tupla
numero1 , numero2, numero3 = tupla

print(numero1,numero2,numero3)

<class 'tuple'>
com parenteses sem virgula não é uma tupla <class 'int'>
com parenteses c virgula é uma tupla <class 'tuple'>
[5, 3, 4] <class 'list'>

ValueError: ignored

#Exercicio 4

- peça para o usuario digitar 5 numeros
adicione em uma lista
utilizar for para exibir quando for par ou umpar

In [100]:
lista = []

for i in range(5):
  numero = int(input(f"digite {i + 1}º  um numero : "))
  lista.append(numero)

for item in lista:
  if item % 2 == 0:
    print(f'{item} - é Par')
  else:
    print(f'{item} - é impar')

digite 1º  um numero : 2
digite 2º  um numero : 3
digite 3º  um numero : 4
digite 4º  um numero : 5
digite 5º  um numero : 6
2 - é Par
3 - é impar
4 - é Par
5 - é impar
6 - é Par

In [109]:

pessoa = {
    'nome':"Franklin",
    'sobrenome':"perseu",
    'idade':31
}
print(f'Nome: {pessoa["nome"]}\n Sobrenome: {pessoa["sobrenome"]}\n Idade: {pessoa["idade"]}')

Nome: Franklin
 Sobrenome: perseu
 Idade: 31